<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conveyor Belt</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>
<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/HomePage">Home Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ConveyorBelt">Conveyor Belt</a>
        </li>
        <li class="nav item">
          <a class="nav-link" href="/OctoPrint">OctoPrint Manager</a>
        </li>
        <li class="nav item">
          <a class="nav-link" href="/FailureDetection">Failure Detection</a>
        </li>
      </ul>
    </nav>

<div class="jumbotron text-center" style="margin-bottom:0; background-color:#c8d6e4;">
    <h1>Conveyor Belt</h1>
    <p>This is the page where the user can control the Conveyor Belt, so we will update this page with the status of the print as well as a button that will run the conveyor belt. It will indicate when the finished print has been moved out of the way.<p>
    <br>
</div>
<button id="conveyor_run">Run Conveyor Belt</button>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/static/conveyorbelt.js"></script>

</body>
</html>
