<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Failure Detection</title>

    <!-- Include Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>
<body>

    <!-- Bootstrap navigation bar -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/HomePage">Home Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ConveyorBelt">Conveyor Belt</a>
        </li>
        <li class="nav item">
          <a class="nav-link" href="/OctoPrint">OctoPrint Manager</a>
        </li>
        <li class="nav item">
          <a class="nav-link" href="/FailureDetection">Failure Detection</a>
        </li>
      </ul>
    </nav>
    
    <!-- Bootstrap jumbotron for title. {{name}} from Flask app -->
    <div class="jumbotron text-center" style="margin-bottom:0; background-color:rgb(255, 217, 255);">
      <h1>This is where we will put the livestream photo of the print as it updates, should update every five minutes</h1>
      <p>Every time a photo is taken, an AI model (openCV, YOLO) will be run on it to detect if the print has failed. If so, a message will be sent to the user alerting them that the print has failed.</p>
    </div>

    <img src="print1.jpg" alt="Print in progress">
    <img src="print2.jpg" alt="Print failing, adhesion issues">

    <!-- Footer (styled with Bootstrap). {{name}} from Flask app -->
    <div class="jumbotron text-left" style="margin-bottom:0">
      <p>&copy; {{name}} [CS 121]</p>
    </div>


</body>
</html>
