<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>

    <!-- Include Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>
<body>

    <!-- Bootstrap navigation bar -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/HomePage">Home Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ConveyorBelt">Conveyor Belt</a>
        </li>
        <li class="nav item">
          <a class="nav-link" href="/OctoPrint">OctoPrint Manager</a>
        </li>
        <li class="nav item">
          <a class="nav-link" href="/FailureDetection">Failure Detection</a>
        </li>
      </ul>
    </nav>
    
    <!-- Bootstrap jumbotron for title. {{name}} from Flask app -->
    <div class="jumbotron text-center" style="margin-bottom:0; background-color:#c8d6e4;">
      <h1 style="color: rgb(240, 19, 130);">Change this to more description of home page</h1>
      <p>Change this to even more description of home page</p>
    </div>
    
    <div><img src="/static/selfie.jpg" height="648" width="864"></div>
 
    <!-- Footer (styled with Bootstrap). {{name}} from Flask app -->
    <div class="jumbotron text-left" style="margin-bottom:0">
      <p>&copy; {{name}} [CS 121]</p>
    </div>

<!--editing the file-->
</body>
</html>
